@page
@model IndexModel
@{
    ViewData["Title"] = "Teams";
}

<div class="jumbotron p-2 d-flex justify-content-between">
    <h2>@ViewData["Title"] <small class="text-muted">2020-2021</small></h2>
    <form asp-controller="Teams" method="get">
        <div class="input-group">
            <input type="text" class="form-control" id="teamSearch" aria-describedby="searchButton" asp-for="SearchString" />
            <button type="submit" class="btn btn-primary" id="searchButton">Search</button>
            <a class="m-2 text-dark" asp-area="" asp-page="/Teams/Index">Reset</a>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Team</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
                <th scope="col">Division</th>
                <th scope="col">Conference</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Team Team in Model.Teams)
            {
                <tr>
                    <th scope="row">
                        <a class="d-flex text-dark" asp-page="./Team" asp-route-id="@Team.TeamId">
                            @Team.Location @Team.Name
                        </a>
                    </th>
                    <td>@Team.Win</td>
                    <td>@Team.Loss</td>
                    <td>@Team.Division.Name</td>
                    <td>@Team.Division.Conference.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
